<div id="header">
  <div class="page-header">
    <h4>Beispiel einer Buchsuche mit @ngrx/store, @ngrx/effects und @ngrx/entity</h4>
  </div>
  <div class="form">
    <div class="form-group" *ngIf="checkedBookIds.length == 0">
      <input class="form-control" (keyup)="handleKeyup($event.target.value)">
    </div>
    <div class="alert alert-info" *ngIf="checkedBookIds.length > 0">
      <button type="button" class="btn btn-danger btn-sm" (click)="handleDeleteButtonClicked()">
        Löschen
      </button>
    </div>
  </div>
</div>

<div id="content">
  <div *ngIf="books$ | async; let books">
    <span class="text-muted"><small>Gefundene Bücher: {{books.length}} von {{bookTotal$ | async}}</small></span>
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action" *ngFor="let book of books"
           (click)="handleListGroupItemClick(book)">
        <div class="checkbox">
          <label>
            <input class="" type="checkbox" (change)="handleCheckBookChange(book)"
                   [checked]="book.$isChecked">
            <b>{{book.title}}</b> ({{book.pages}} pages)
          </label>
        </div>
        <div class="text-muted">
          <small>Author: {{book.author}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

