<div id="header">
  <div class="page-header">
    <h4>Beispiel einer Buchsuche mit @ngrx/store, @ngrx/effects und @ngrx/entity</h4>
  </div>
  <div class="md-form">
    <input mdbActive type="text" class="form-control" (keyup.enter)="handleKeyupEnter(q.value)" #q>
  </div>
</div>

<span class="text-muted"><small>Gefundene Bücher: {{bookTotal$ | async}}</small></span>

<div class="book-grid-container">
  <app-book-list-item class="book-grid-card" [book]="book" *ngFor="let book of books$ | async"></app-book-list-item>
</div>

