<div class="container">
  <div class="page-header">
    <h4>Beispiel einer Buchsuche mit @ngrx/store, @ngrx/effects und @ngrx/entity</h4>
  </div>
  <div class="form" *ngIf="checkedBooks$ | async; let checkedBooks">
    <div class="form-group" *ngIf="checkedBooks.length == 0">
      <input class="form-control" (keyup)="handleKeyup($event.target.value)">
    </div>
    <div class="form-group" *ngIf="checkedBooks.length > 0">
      <button class="btn btn-default" (click)="handleDeleteButtonClicked(checkedBooks)"><i
        class="glyphicon glyphicon-trash"></i>
      </button>
    </div>
  </div>

  <div *ngIf="books$ | async; let books">
    <span class="text-muted"><small>Gefundene Bücher: {{books.length}} von {{bookTotal$ | async}}</small></span>
    <div class="list-group">
      <div class="list-group-item" *ngFor="let book of books">
        <div class="checkbox">
          <label>
            <input class="" type="checkbox" (change)="handleCheckBookChange(book)"
                   [checked]="book.$isChecked">
            <b>{{book.title}}</b> ({{book.pages}} pages)
          </label>
        </div>
        <div class="text-muted">
          <small>Author: {{book.author}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

