<div class="container">
  <div class="page-header">
    <h4>Beispiel einer Buchsuche mit @ngrx/store, @ngrx/effects und @ngrx/entity</h4>
  </div>
  <div class="form">
    <div class="form-group">
      <input class="form-control" (keyup)="handleKeyup($event.target.value)">
    </div>
  </div>

  <div *ngIf="books$ | async; let books">
    <span class="text-muted"><small>Gefundene Bücher: {{books.length}} von {{bookTotal$ | async}}</small></span>

    <div class="list-group">
      <div class="list-group-item" *ngFor="let book of books">
        <b>{{book.title}}</b> ({{book.pages}} pages)
        <div class="text-muted">
          <small>Author: {{book.author}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
